.menu-list{
    padding-left: 30px;
    padding-top: 20px;
}
.home-section{
    float:left;
    width: 10%;
}
.section{
    margin-left: 10%;
    float:left;
}
.photo{
    padding-right: 5px;
}

#map {
    height: 100%;
}

.map-container {
    width:900px;
    height:700px;
}

.points {
    width:100px;
    height:40px;
    color:silver;
}